<!DOCTYPE html>
<html>
<%- include ('../partials/head.ejs') %>

<body>
  <%- include ('../partials/navbar.ejs') %>


  <div class="container ">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card card-body  mt-5">
          <% if(typeof error_msg !== 'undefined'){ %>
          <div class="alert alert-danger">
            <i class="fas fa-info"></i>
            <%= error_msg %>
          </div>
          <% } %>
          <% if(typeof success_msg !== 'undefined'){ %>
            <div class="alert alert-success">
              <i class="fas fa-info"></i>
              <%= success_msg %>
            </div>
            <% } %>
          <!-- Default form change password -->
          <form class="text-center  p-5" action="/changePassword" method="POST">
            <p class="h4 mb-4">Change Password</p>
            <!--Old Password -->
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Old Password" name="oldPassword">
            </div>​
            <!--New Password -->
            <div class="form-group">
              <input type="password" class="form-control" placeholder="New Password" name="newPassword">
            </div>
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
              At least 7 characters with upercase and 1 digit and special character
           </small>
            <!--Confirm New Password -->
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Confirm New Password" name="confirmNewPassword">
            </div>

            ​
            <!-- change in button -->
            <button class="btn btn purple-gradient btn-block my-4" type="submit">Change Password</button>
            ​

            ​
          </form>
        </div>
        ​
        ​
      </div>
    </div>
    <!-- Default form change password -->
  </div>



  <%- include ('../partials/scripts.ejs') %>
  <%- include ('../partials/socket.ejs') %>
  <%- include ('../partials/footer.ejs') %>
  
</body>

</html>