<!DOCTYPE html>
<html>
<%- include ('../partials/head.ejs') %>
<body>
  <div class="container mt-5">
    <div id="error">
        <% if (error != undefined && Code != undefined) { %>
        <div class="jumbotron">
          <% if(Code == 400){ %>
          <h2 class="display-4 red-text"><i class="far fa-dizzy"></i> 400: That's an Error</h2>
          <% } %>
          <hr class="my-4">
          <p><%= error %></p>
        </div>
      <% } %>
      </div>
    <div id="success">
        <% if (success != undefined) { %>
            <div class="jumbotron">
              <h2 class="display-4 text-success">Success</h2>
              <hr class="my-4">
              <p><%= success %></p>
            </div>
          <% } %>
    </div>

  </div>
<%- include ('../partials/scripts.ejs') %>
<%- include ('../partials/footer.ejs') %>

</body>

</html>