<!DOCTYPE html>
<html>
<%- include ('../partials/head.ejs') %>
​
<body>
​
   <div class="container ">
      <div class="row" >
         <div class="col-md-8 mx-auto">
            <div class="card card-body  mt-5">
               <% if(typeof message !== 'undefined'){ %>
                  <div class="alert alert-danger">  
                     <%= message %>    
                  </div>
              <% } %>
              <% if (typeof message_success !== 'undefined'){ %>
                <div class="alert alert-success">  
                    <%= message_success %>    
                 </div>
                <% } %>
               <!-- Default form forgot password -->
               <form class="text-center  p-5" action="/forgotPassword" method="POST">
​                 <h1 class="logo-header text-secondary">Matcha</h1>
                  <p class="h4 mb-4">Forgot Password</p>
​
                  <!-- Email -->
                  <div class="form-group">
                     <input type="email" class="form-control" placeholder="Email" name="email">
                  </div>
                  <!-- forgot password in button -->
                  <button class="btn btn purple-gradient btn-block my-4" type="submit">Reset password</button>
                  Return to <a href="/login">Login </a>
               </form>
            </div>
​
​
         </div>
      </div>
      <!-- Default form forgot password -->
   </div>
   <%- include ('../partials/scripts.ejs') %>
   <%- include ('../partials/footer.ejs') %>
</body>
​
</html>