<!DOCTYPE html>
<html>
<%- include ('../partials/head.ejs') %>
​
<body>
   <div class="container">
      <div class="row">
         <div class="col-md-8 mx-auto mt-5">
            <div class="card card-body  mt-5">
               
                <% if(typeof error !== 'undefined'){ %>
                    <div class="alert alert-danger">  
                       <%= error %>    
                    </div>
                <% } %>
                <% if (typeof message_success !== 'undefined'){ %>
                  <div class="alert alert-success">  
                      <%= message_success %>    
                   </div>
                  <% } %>
                  <% if (typeof token !== 'undefined'){ %>
                  <!-- Default form register -->
                  <h1 class="logo-header">Matcha</h1>
                  <form class="text-center  p-5" action="/reset/<%= token %>" method="POST">
      
                     <p class="h4 mb-4">Reset Password</p>
                      <!-- confirm password -->
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="New Password" name="newPassword">
      
                     </div>
                     <!-- Password -->
                     <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                        At least 7 characters with upercase and 1 digit and special character
                     </small>
                     <!-- confirm password -->
                     <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmNewPassword">
      
                     </div>
                     <!-- Sign up button -->
                     <button class="btn purple-gradient my-4 btn-block" type="submit">Reset Password</button>
                     
                  <!-- login -->
                  <p> sign in ?
                     <a href="/login">Login</a>
                  </p>
      
                  </form>
                  <!-- Default form reset Password -->
                  <% } %>
            </div>
         </div>
      </div>
   </div>
​
   
   <%- include ('../partials/scripts.ejs') %>
   <%- include ('../partials/footer.ejs') %>
</body>
​
</html>